{% extends 'base.html' %} 

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Welcome to Mythoughts</h1>
            </div>
        </div>
        <div class="content">
            <p>NOTE: This is test version of mythought site which is still under development!</p>
            <p>The mythought.com is social media website that contains some main elements of other Popular social medias such as Twitter, Facebook and Instagram, and new features.</p>
            <p>Some basic features that you can use for now:</p>
            <ul style="list-style-type:disc">
                <li>User authentications</li>
                <li>Profile</li>
                <li>Write post</li>
                <li>Tag someone in your post</li>
                <li>Get Notifications</li>
                <li>Like posts, Follow others or get followers</li>
            
                <li>Search post and users</li>
                <li>Have private chat with anyone</li>
            </ul>
            <p>More main features are coming soon!</p>

        </div>
        
    </div> 

{% endblock %}