{% extends 'base.html' %} 

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <h1 class="title">Log in</h1>


                <form method="post" action=".">
                    {% csrf_token %}

                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            Login or Password is not correct!
                        </div>
                    {% endif %}

                   
                    {{form.username}}
                    {{form.password}}

                    <button class="button is-success" type="submit">Log In</button>
                </form>

                

            </div>
        </div>
    </div> 

{% endblock %}